scikit-learn
numpy
pandas
loguru
deepspeed
transformers
datasets
accelerate
tokenizers
evaluate
wandb
tabulate
diffusers
peft
sentencepiece
scikit-build
Cython
scalene
torchmetrics
sphinx-autobuild
myst-parser
furo
munch
ninja
git+https://github.com/HazyResearch/flash-attention.git#subdirectory=csrc/rotary
git+https://github.com/HazyResearch/flash-attention.git#subdirectory=csrc/layer_norm
